[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "themes/academic-kickstart"]
	path = themes/academic-kickstart
	url = https://github.com/sourcethemes/academic-kickstart.git
[submodule "public"]
	path = public
	url = git@github.com:micha-a-schmidt/micha-a-schmidt.github.io.git
	branch = master
